<%- @question = question %> 
    <div data-question-id="<%= @question.id %>" class="form-cont" id="form-cont-<%= @question.id %>">
        
      <%= form_for(question) do |f| %>
        <%= render 'shared/error_messages', object: f.object %> 		
      <% end %>
        <%= field_set_tag do %>	
        	
        	<div class="row">
        		<div class="col-md-12">
        		  <span><%= "#{question.name} From: #{question.from}. IP: #{question.ip}" %></span>
        		</div>
        	</div>
        
        	
        	<div class="row">
        		<div class="col-md-6">
        		    
        		    <%= form_for(question, remote: true, format: :json, html: {:class => "edit_question approve inline-block"}) do |f| %>
    				    <%= f.check_box :approved , class: "hidden approve" %>
    				    
            		  	<% if question.approved?%>
    			      	    <button class="btn btn-info btn-xs approve approved" type="submit">UnApprove</button>
                        <% else %>
    			      	    <button class="btn btn-primary btn-xs approve" type="submit">Approve</button>
            		  	<% end %>
        		  	
    			  	<% end %>
    			 
    			  	
    			  	
        			<%= link_to t(:delete), question_path(@question), remote: true, method: :delete, class: "btn btn-danger btn-xs", 
        			        data: { confirm: t(:confirm) } %>
			        
    			  	<button data-question-id="<%= @question.id %>" type="button" class="btn btn-info btn-xs edit">Edit</button>
    			  	<button class="hide btn btn-primary btn-xs save" type="submit">Save</button>
    			  	<button class="hide btn btn-primary btn-xs cancel" type="button">Cancel</button>
        		</div>
        		<div align="right" class="col-md-3">
    			  	<div class="inline-block flash-info-cont flash-info"></div>
        		</div>
        		<div align="right" class="col-md-3">
    			  	<button class="btn btn-danger btn-xs" type="button">Ban</button>
    			  	<button class="btn btn-primary btn-xs" type="button">Select</button>
        		</div>
        	</div>
        	
        	<div class="row">
        		<div class="col-md-12">
        			<div class="original-question"><%= question.question %></div>
        		</div>
        	</div>
        	
        	<% unless question.translation.blank? %>
          	<div class="row">
          		<div class="col-md-12">
          		  <div class="org-translation"><%= question.translation %></div>
          		</div>
          	</div>
        	<% end %>
        	
        	<div class="row">
        		<div class="col-md-12">
        		  <%= form_for(question, remote: true, format: :json, html: {:class => "edit_question form-translation"}) do |f| %>
        		      <%= f.text_area :translation, class:"hide form-control question-translation", 
        		      rows: "3", id: "translation-#{question.id}"  %>
        		  <% end %>				
        		</div>
        	</div>
        	
        <% end %>
     
    </div>