<% provide(:title, "Moderator Monitor") %>

<div class="moderator monitor row">
  <div class="page-header">
    <h1>Moderator Questions Monitor</h1>
  </div>
  
  <div id="questions-cont" class="questions-cont col-md-6">
    <h4>UnSelected</h4>
    <%- @selected_questions.each do |question| %>
    <%- @question = question %> 
      <div class="panel panel-default">
        <!--<div class="panel-heading"><%= "#{question.name} From: #{question.from}. IP: #{question.ip}" %></div>-->
        <!--<div class="panel-body"><%= question.question %></div>-->
        <div>
          <%= form_for(question) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
          	<div class="row">
          		<div class="col-md-12">
          			<%= field_set_tag do %>	
          		     <span><%= "#{question.name} From: #{question.from}. IP: #{question.ip}" %></span>
          			  	<% if !@question.new_record? && admin_user? %>
          				    <%= f.label :approved do %>
          				      <%= f.check_box :approved %>
          				      <span class='label_checkbox'><%= t('.approved') %></span>
          				    <% end %>
          				    
          				    <%= f.label :banned do %>
          				      <%= f.check_box :banned %>
          				      <span class='label_checkbox'><%= t('.banned') %></span>
          				    <% end %>
          				    <%= f.label :selected do %>
          				      <%= f.check_box :selected %>
          				      <span class='label_checkbox'><%= t('.selected') %></span>
          				    <% end %>
          			  	<% end %>
          			<% end %>
          		</div>
          	</div>
          		
          	<div class="row">
          		<div class="col-md-12">
          			<%= field_set_tag do %>	
          		  	<%= f.text_area :question, class:"text_area_address form-control", rows: "5" %>								
          			<% end %>
          		</div>
          	</div>
          <% end %>
        </div>
      </div>
    <%- end %>
  </div>
  
  
  <div id="selected-questions-cont" class="questions-cont selected col-md-6">
    <h4>Selected</h4>
    <%- @questions.each do |question| %>
    <%- @question = question %> 
      <div class="panel panel-default">
        <!--<div class="panel-heading"><%= "#{question.name} From: #{question.from}. IP: #{question.ip}" %></div>-->
        <!--<div class="panel-body"><%= question.question %></div>-->
        <div>
          <%= form_for(question) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
          	<div class="row">
          		<div class="col-md-12">
          			<%= field_set_tag do %>	
          		     <span><%= "#{question.name} From: #{question.from}. IP: #{question.ip}" %></span>
          			  	<% if !@question.new_record? && admin_user? %>
          				    <%= f.label :approved do %>
          				      <%= f.check_box :approved %>
          				      <span class='label_checkbox'><%= t('.approved') %></span>
          				    <% end %>
          				    
          				    <%= f.label :banned do %>
          				      <%= f.check_box :banned %>
          				      <span class='label_checkbox'><%= t('.banned') %></span>
          				    <% end %>
          				    
          				    <%= f.label :selected do %>
          				      <%= f.check_box :selected %>
          				      <span class='label_checkbox'><%= t('.selected') %></span>
          				    <% end %>
          			  	<% end %>
          			<% end %>
          		</div>
          	</div>
          		
          	<div class="row">
          		<div class="col-md-12">
          			<%= field_set_tag do %>	
          		  	<%= f.text_area :question, class:"text_area_address form-control", rows: "5" %>								
          			<% end %>
          		</div>
          	</div>
          <% end %>
        </div>
      </div>
    <%- end %>
  </div>
</div>
