<%= form_for(@user, :html => {:autocomplete => "off"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

	<div class="row">
		<div class="col-md-3">
			<%= field_set_tag do %>					
		  	<%= f.label :name, t(:name) %>
		  	<%= f.text_field :name, class:'form-control' %>
		  	
		  	<%= f.label :family_name %>
		  	<%= f.text_field :family_name, class:'form-control' %>	
		  	
		  	<%= f.label :email %>
		  	<%= f.text_field :email, :autocomplete => :off, class:'form-control' %>
		
		  
			<% end %>
		</div>
		
		<div class="col-md-3">
			<%= field_set_tag do %>	
		  	<%= f.label :password %>
		  	<%= f.password_field :password, :autocomplete => :off, value:'', class:'form-control' %>
		
		  	<%= f.label :password_confirmation %>
		  	<%= f.password_field :password_confirmation, class:'form-control' %>
		  	
		  	<% if admin_user? %>
		      <%= f.label :admin do %>
		        <%= f.check_box :admin %>
		        <span class='label_checkbox'><%= t('activerecord.attributes.person.admin') %></span>
		      <% end %>
		  	<% end %>
			<% end %>
		</div>
	</div>
	
  <%= f.submit "Save changes", class: "btn btn-primary display_none",
  		id:'btn_submit' %>
<% end %>
