<%= render partial: 'shared/header_index', 
	locals:{ title: t('.list'),  path: new_user_path, search: @search } %>

<%= render partial: 'user_search', 
	locals:{ search: @search} %>	
	
<%= will_paginate %>

<table class='table-bordered tabletable-hover table-index'>
  <thead>
    <tr>
      <th class='td_left '></th>
      <th class='td_holder medium-size-td  module-link'><%=  t(:name) %></th>
      <th class='td_holder medium-size-td'><%= t('people.form.family_name')%></th>
      <th class='td_holder mm-size-td'><%=  t('activerecord.attributes.person.email') %></th>
    </tr>
  </thead>

  <tbody  class="tbody_events">
  	<%= render @users %>
  </tbody>
</table>

<%= will_paginate %>