<p id="notice"><%= notice %></p>

<h1>Listing Application Setups</h1>

<table>
  <thead>
    <tr>
      <th>App setup type</th>
      <th>Language</th>
      <th>Code</th>
      <th>Description</th>
      <th>Str value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @application_setups.each do |application_setup| %>
      <tr>
        <td><%= application_setup.app_setup_type %></td>
        <td><%= application_setup.language %></td>
        <td><%= application_setup.code_id %></td>
        <td><%= application_setup.description %></td>
        <td><%= application_setup.str_value %></td>
        <td><%= link_to 'Show', application_setup %></td>
        <td><%= link_to 'Edit', edit_application_setup_path(application_setup) %></td>
        <td><%= link_to 'Destroy', application_setup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application setup', new_application_setup_path %>
